* {
    margin: 0;
    padding: 0;
}
body {
    background-color: aqua;
    background-image: -webkit-linear-gradient(rgb(175,75,75),rgb(31,31,31), rgb(59,153,148));
    min-height: 800px;

}
#game{
    height: 500px;
    position: relative;
    width: 400px;
    border: 1px solid black;
    background: url(bg1.jpg);
    background-size: cover;
    margin: 1rem auto;
    overflow: hidden;
}

#block {
    width: 50px;
    height: 500px;
    background-color: rgb(14, 101, 27);
    position: relative;
    left: 400px;
    animation: block 2s linear infinite;

}
@keyframes block {
    0% {
        left: 400px;
    }
    100%{
        left: -50px;
    }
}

#hole {
    height: 150px;
    width: 50px;
    background-color: yellow;
    position: relative;
    left: 400px;
    top: -500px;
    animation: block 2s linear infinite;

}
#bird{
    position: fixed;
    top: 100px;
    height: 50px;
    width: 50px;

}
#bird img{
    height: 50px;
    width: 50px;
    border-radius: 30px;
}

#result {
    height: 200px;
    width: 500px;
    background-color: aqua;
    margin: 5rem auto;
    border: 2px solid black;
    border-radius: 25px;
    display: none;
    text-align: center;
}

#btn{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 15px;
    background-color: rgb(15, 133, 113);
    color: black;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 1rem;
}
#text {
    margin-top: 1rem;
    font-size: 2rem;
    color: aliceblue;
}